@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a web application that integrates multiple APIs such as Facebook and Yahoo Finance to offer you a suite for your social media needs.</p>
