@{
    ViewBag.Title = "Calendar";
}

@section JavaScript{
    @Styles.Render("~/Content/fullcalendarcss")


}


<style>
    h1 {
        text-align: center;
    }
</style>


<script>
    // Only load the calendar when the page is done loading everything else.
    $(document).ready(function () {
        // Targets the calendar div and will put the calendar and all of its functionality there.
        $('#calendar').fullCalendar({
        })
    });
</script>

<!-- Displays the message from the Home Controller -->
<h1>@ViewBag.Message</h1>

<!-- This is where the calendar will be displayed -->
<div id='calendar'></div>



