@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Krutz Corp <br>
    2000 Main Street<br>
    Rochester, NY 14623<br>
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Team Coordinator:</strong> Steven Lavoie<br/>
    <strong>Testing Coordinator:</strong> Damas Mlabwa<br/>
    <strong>Requirements Coordinator:</strong> Brian Nugent<br/>
    <strong>Development Coordinator:</strong> Adam Prout<br/>
    <strong>Configuration Coordinator:</strong> Andrew Popovich<br/>
</address>