@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Krutz Corp
    1 Dan Is Cool<br />
    Rochester, NY 14623<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Design Coordinator:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Team Coordinator:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Testing Cordinator:</strong> <a href="mailto:damm6660@rit.edu">Damas Mlabwa</a><br />
    <strong>Testing Cordinator:</strong> <a href=""></a><br />
    <strong>Testing Cordinator:</strong> <a href=""></a><br />
    
</address>