@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Krutz Corp
    1 Dan Is Cool<br />
    Rochester, NY 14623<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Team Coordinator:</strong><br />
    <strong>Testing Coordinator:</strong> <a href="mailto:damm6660@rit.edu">Damas Mlabwa</a><br />
    <strong>Requirements Coordinator:</strong> <br />
    <strong>Development Coordinator:</strong> <br />
    <strong>Configuration Coordinator:</strong> <br />
    
</address>