@{
    ViewBag.Title = "Stock";
}



<h1>Stock Search</h1>

<div class="stockSearch">
<button type="button" id="search">Search</button>
<input id="stockTicker" type="text" size="20" maxlength="4" placeholder="Stock Ticker"/>
</div>

<div class="stockInfo" id="stockInfo">
    <h2>Stock Information</h2>
</div>

<div class ="chartInfo" id="chartInfo">

</div>

<div id="curve_chart" style="width: 900px; height: 500px"></div>


<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>




@section JavaScript{
    <script src='/Scripts/jquery.min.js'></script>
    <script src="/Scripts/chart.js"></script>
     
}


<script>
    var purchaseDate = [];
    var purchasePrice = [];
    var items = [];
    //var symbol;
    jQuery(document).ready(function ($) {
        $('#search').click(function() {
            var symbol = $('input[id=stockTicker]').val(); 
            var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%3D%22' + symbol + '%22&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
            $.getJSON(url, function(data) {           
                $('#stockInfo').html("<h2>Stock Information</h2>");
                $.each(data.query.results.quote, function (key, val) {
                    if (key == "Name" | key == "DaysHigh" | key == "DaysLow" | key == "YearHigh" | key == "YearLow" | key == "LastTradePriceOnly") {
                        items.push('<li id="' + key + '">' + key + ": "  + val + '</li>');
                    }

                });
                $('<ul/>', { 'class': 'my-new-list', html: items.join('')}).appendTo('#stockInfo');
            });
        });

        var price = 0;
        var symbol = 'AAPL';
        var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20%3D%20%22' + symbol + '%22%20and%20startDate%20%3D%20%222015-09-01%22%20and%20endDate%20%3D%20%222015-10-4%22&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
        $.getJSON(url, function (data) {

            //$('#stockInfo').html("<h2>Stock Information</h2>");
            $.each(data.query.results.quote, function (key, val) {
                if (key == "Date") {
                    purchaseDate.push(val);
                }
                if (key == "Close") {
                    purchasePrice.push(val);
                }
                purchaseDate.push(String(val.Date).replace("2015-", ""));
                price = parseInt(val.Close);
                purchasePrice.push(price);

            });
            $('<ul/>', { 'class': 'my-new-list', html: purchaseDate }).appendTo('#chartInfo');
            $('<ul/>', { 'class': 'my-new-list', html: purchasePrice }).appendTo('#stockInfo');
            console.log(purchaseDate);
            console.log(purchasePrice);
        });

        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'date');
            data.addColumn('number', 'price');

            for (i = 0; i < purchaseDate.length; i++) {
                data.addRow([purchaseDate[i], purchasePrice[i]]);
                console.log(purchaseDate[i]);
            }

            var options = {
                title: 'Stock Chart',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }


        /*jQuery.post("IndividualStock/", { stockInfo: items, stockDate: purchaseDate, stockPrice: purchasePrice }, function (data) {
            if (symbol) {
                window.location.href = "IndividualStock/";
                $(".stockstuff").html(data);
            }
        });*/
});
    /*jQuery(document).ready(function ($) {
        var symbol = 'AAPL';
        var price = 0;
        var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20%3D%20%22' + symbol + '%22%20and%20startDate%20%3D%20%222015-09-01%22%20and%20endDate%20%3D%20%222015-10-4%22&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
        $.getJSON(url, function (data) {

            //$('#stockInfo').html("<h2>Stock Information</h2>");
            $.each(data.query.results.quote, function (key, val) {
                if (key == "Date") {
                    purchaseDate.push(val);
                }
                if (key == "Close") {
                    purchasePrice.push(val);
                }
                purchaseDate.push(String(val.Date).replace("2015-", ""));
                price = parseInt(val.Close);
                purchasePrice.push(price);

            });
            $('<ul/>', { 'class': 'my-new-list', html: purchaseDate }).appendTo('#chartInfo');
            $('<ul/>', { 'class': 'my-new-list', html: purchasePrice }).appendTo('#stockInfo');
            console.log(purchaseDate);
            console.log(purchasePrice);
        });
    });*/
    


    </script>

<script>

    /*jQuery(document).ready(function ($) {
        $('#search').click(function () {
            var symbol = $('input[id=stockTicker]').val();
            var url = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%20%3D%20%22' + symbol + '%22%20and%20startDate%20%3D%20%222009-09-11%22%20and%20endDate%20%3D%20%222010-03-10%22&format=json&diagnostics=true&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=';
            $.getJSON(url, function (data) {
                
                //$('#stockInfo').html("<h2>Stock Information</h2>");
                $.each(data.query.results.quote, function (key, val) {
                    if (key == "Date") {
                        purchaseDate.push(val);
                    }
                    if (key == "Close") {
                        purchasePrice.push(val);
                    }

                });
            });
        });
    });*/

    /*purchaseDate.push(1);
    purchaseDate.push(2);
    purchaseDate.push(3);
    purchasePrice.push(103);
    purchasePrice.push(116);
    purchasePrice.push(121);

    purchaseDate = purchaseDate.reverse();
    purchasePrice = purchasePrice.reverse();

    var buyerData = {
        labels: purchaseDate,
        datasets: [
            {
                fillColor: "rgba(172,194,132,0.4)",
                strokeColor: "#ACC26D",
                pointColor: "#fff",
                pointStrokeColor: "#9DB86D",
                data: purchasePrice
            }
        ]
    }

    var buyerData = {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [
            {
                fillColor: "rgba(172,194,132,0.4)",
                strokeColor: "#ACC26D",
                pointColor: "#fff",
                pointStrokeColor: "#9DB86D",
                data: [203, 156, 99, 251, 305, 247]
            }
        ]
    }

    var ctx = $("#myChart").get(0).getContext("2d");
    // This will get the first returned node in the jQuery collection.
    var myNewChart = new Chart(ctx).Line(buyerData);
    */
    </script>
