@model WebApplication5.Models.ChatModel
@{
    ViewBag.Title = "Lobby";
}
<style type="text/css">
    #Speak
    {
        min-height: 60px;
        background: #B8ED01;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2); /* Font styles */
        text-decoration: none;
        text-shadow: 0 1px rgba(255,255,255,0.7);
        vertical-align: middle;
    }
    
    #Lobby
    {
        background-color: #D8D8D8;
        text-align: left;
        height:150px;
        max-height:150px;
        overflow-y: scroll;
    }

    #ChatHistory {
        height:150px;
        max-height:150px;
        overflow-y: scroll;
        background-color: #D8D8D8;
        text-align: left;
        font-size: x-small;
    }

</style>
<div class="row">
    <div id="RefreshArea">
    @{
        Html.RenderPartial("ChatHistory", Model);
    }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="Speak">
        speak
        <table>
            <tr>
                <td rowspan="2">
                    <textarea id="txtSpeak" rows="3"></textarea>
                </td>
                <td>
                    <button id="btnSpeak" value="Speak" style="font-weight: bold;">
                        Speak</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btnLogOff" value="LogOff">
                        LogOff</button>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
@Ajax.ActionLink("ActionLink", "Index", new { user = "", logOn="",logOff="",chatMessage = "" }, new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" }, new { @id = "ActionLink", @style = "visibility:hidden;" })

