@model WebApplication5.Models.ChatModel
@{
    ViewBag.Title = "Lobby";
}
<style type="text/css">
    #Speak
    {
        min-height: 60px;
        vertical-align: middle;
    }
    
    #Lobby
    {
        background-color: #D8D8D8;
        text-align: left;
        height:150px;
        max-height:150px;
        overflow-y: scroll;
    }

    #ChatHistory {
        height:150px;
        max-height:150px;
        overflow-y: scroll;
        background-color: #D8D8D8;
        text-align: left;
        font-size: x-small;
    }

</style>
<div class="row">
    <div id="RefreshArea">
    @{
        Html.RenderPartial("ChatHistory", Model);
    }
    </div>
</div>

<div class="row" id="Speak">
    <div class="col-md-10" style="padding:0px;">
        <textarea class="form-control" id="txtSpeak" style="resize:none;"></textarea>
    </div>
    <div class="col-md-2" style="padding-top: 9px">
        <button class="btn btn-primary" id="btnSpeak" value="Speak">Speak</button>
    </div>
</div>

@Ajax.ActionLink("ActionLink", "Index", new { user = "", logOn="",logOff="",chatMessage = "" }, new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" }, new { @id = "ActionLink", @style = "visibility:hidden;" })

