@model WebApplication5.Models.Stock

@{
    ViewBag.Title = "Stock Note";
}

@{
    <h2>Current Stock Note</h2>
    if(Model.Note != null && !(Model.Note.Equals(""))) {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Model.Note
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("DeleteStockNote", "Stock", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { role = "form" })) {
                    <div class="form-group">
                        <input type="hidden" name="stockName" value="@Model.Name" />
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </div>
                }
            </div>
        </div>
    } 
    else {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    No notes have been entered for this stock.
                </div>
            </div>
        </div>
    }   
        
}

