@using WebApplication5.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in through Facebook";
}

<style>
    h2 {
        text-align: center;
    }
</style>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new WebApplication5.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}